extends base
block header
    .profilepg.showcase
        include header
        .profile-container
            .profile-img-container
                .profile-img
                    img(src=user.pImage alt='User-Image')
                    input(type="file" name="user" id="user-img")
                .profile-img-name
                    | #{user.name}
            .about-container
                h2.about-heading
                    .icon-profile-heading
                        i.fas.fa-user
                    |                         About
                hr.about-hr
                .input-profile
                    p.profile-input-para Your Full Name
                    .input-pf
                        .icon-profile
                            i.fas.fa-user
                        input#profile-name(type='text' value=user.name required='' readonly='')
                .input-profile
                    p.profile-input-para Your Email Id
                    .input-pf
                        .icon-profile
                            i.fas.fa-envelope
                        input#profile-email(type='email' value=user.email required='' readonly='')
                .input-profile
                    p.profile-input-para Your Password
                    .input-pf
                        .icon-profile
                            i.fas.fa-lock
                        input#profile-password(type='password' value=user.password required='' readonly='')
                        .show-hide
                            span.show-text SHOW
                .profile-buttons
                    .edit
                        button.edit-btn EDIT
                    .save-changes
                        button.save-btn SAVE CHANGES
block scripts
 script(src='./js/profile.js')